@import "variables";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap"; // Boostrap 3

@import url(http://fonts.googleapis.com/css?family=Muli|Roboto+Condensed:400,300,700&subset=latin,latin-ext);

body {
  font: {
    family: $font-roboto;
    size: 14px;
  }
}

// Components

@import "base";
@import "components/video-player";
@import "components/sidebar";
@import "components/player-overlay";

@import "components/sidebar/playlist";
@import "components/sidebar/now-playing";
@import "components/sidebar/empty";
@import "components/sidebar/settings-panel";

.container-full {
  width: 100vw;
  height: 100vh;
}

.unselectable { user-select: none; }

