@import "variables";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap"; // Boostrap 3

@import url(http://fonts.googleapis.com/css?family=Muli|Roboto+Condensed:400,300,700&subset=latin,latin-ext);
@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

body {
  font: {
    family: $font-roboto;
    size: 14px;
  }
}

// Components

@import "base";
@import "components/video-player";
@import "components/sidebar";
@import "components/player-overlay";

.container-full {
  width: 100vw;
  height: 100vh;
}

.unselectable { user-select: none; }

