// @import "../../node_modules/node-bourbon/assets/stylesheets/bourbon";
@import "variables";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap"; // Boostrap 3

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300&subset=latin,cyrillic-ext);
@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

body {
  font: {
    family: $font-muli;
    size: 14px;
  }
}

// Components

@import "components/video-player";
@import "components/sidebar";
@import "components/player-overlay";

.container-full {
  width: 100vw;
  height: 100vh;
}

@import url(http://fonts.googleapis.com/css?family=Muli|Oswald:400,700&subset=latin,latin-ext);
