.player-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  top: 3vh;
  left: 3vh;
  width: 80vw;
  z-index: $zindex-player-overlay;
  padding: 1em;
  opacity: .5;
  transition: .2s ease all;

  &:hover { opacity: .9; }

  .video-score {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.9em;
    font-weight: 700;
    color: rgba(245, 245, 245, .8);
    transition: .2s ease all;
    font-family: $font-muli;
    flex-basis: 150px;

    &:before,
    &:after {
      position: absolute;
      left: 50%;
      font-weight: 900;
      font-family: monospace;
      transform: scaleY(.5) translateX(-50%);
    }

    &:before {
      top: -25px;
      color: rgba(243, 70, 5, .7);
      content: '\2191'; // up arrow
    }

    &:after {
      bottom: -25px;
      color: rgba(132, 164, 211, .7);
      content: '\2193'; // down arrow
    }
  }

  .video-title {
    a {
      color: #fff;
      font-size: 1.4em;
      font-family: $font-roboto;
      font-weight: 700;
      line-height: 1.5;
      padding: .3em .2em;
      /*box-shadow: -10px 0 0 0 transparent, 10px 0 0 0 transparent;*/
      text-transform: uppercase;
      background: transparent;
      text-shadow: 0 1px 1px #222;
      transition: .2s ease all;
      word-break: break-all;

      &:hover { text-decoration: none; }
    }
  }
}

