.player-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  top: 3vh;
  left: 3vh;
  width: 50vw;
  z-index: $zindex-player-overlay;
  padding: 1em;

  .video-score {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.9em;
    font-weight: 700;
    color: rgba(245, 245, 245, .2);
    font-family: $font-muli;
    flex-basis: 200px;
    transition: .2s ease all;

    &:hover {
      color: rgba(245, 245, 245, .2);
      &:before { color: rgba(243, 70, 5, .5); }
      &:after { color: rgba(132, 164, 211, .5); }
    }

    &:before,
    &:after {
      position: absolute;
      left: 50%;
      font-weight: 900;
      font-family: monospace;
      transform: scaleY(.5) translateX(-50%);
    }

    &:before {
      top: -25px;
      color: rgba(243, 70, 5, .3);
      content: '\2191'; // up arrow
    }

    &:after {
      bottom: -25px;
      color: rgba(132, 164, 211, .3);
      content: '\2193'; // down arrow
    }
  }

  .video-title {
    a {
      color: rgba(245, 245, 245, .3);
      font-size: 1.4em;
      text-shadow: 0 0 5px transparent;
      font-family: $font-oswald;
      font-weight: 400;
      line-height: 2.1;
      padding: .3em .2em;
      box-shadow: -10px 0 0 0 transparent, 10px 0 0 0 transparent;
      text-transform: uppercase;
      background: transparent;
      transition: .3s ease-out all;
      opacity: .3;

      &:hover {
        text-decoration: none;
      }
    }

    &--huge,
    &:hover a {
      color: #f5f5f5;
      background: fade-out(darken(orange, 40), .7);
      box-shadow: -10px 0 0 0 fade-out(darken(orange, 40), .7), 10px 0 0 0 fade-out(darken(orange, 40), .7);
      text-shadow: 0 1px 0 #000, 0 2px 0 #000;
      opacity: 1;
    }
  }
}
