.container-sidebar {
  $width: 250px;
  $gap-from-edge: 10px;

  position: fixed;
  top: $gap-from-edge;
  left: auto;
  right: -$width;
  bottom: $gap-from-edge;
  width: $width;

  background: blue;

  transition: .25s ease all;

  &--open {
    transform: translateX(-$width);
  }
}

.container-sidebar-toggle {
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: green;
  font-size: 2em;
  color: #fff;
}
