@import 'sidebar/orodarius-sidebar-foot';

.container-sidebar {
  $width: 450px;
  $gap-from-edge: 0;

  position: fixed;
  top: $gap-from-edge;
  left: auto;
  right: -$width;
  bottom: $gap-from-edge;
  width: $width;
  display: flex;
  flex-direction: column;
  background: rgba(20, 20, 20, .9);
  z-index: $zindex-sidebar;
  transition: .25s ease all;

  &--open {
    transform: translateX(-$width);

    .sidebar-toggle {
      width: 10000px;
      left: -10000px;
      text-indent: 9950px;
      top: 0;
      bottom: 0;
    }
  }
}

.sidebar-toggle {
  position: absolute;
  top: 100px;
  left: -60px;
  bottom: 100px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.32);
  cursor: pointer;
}

.sidebar-head {
  flex: none;
  position: absolute;
  padding-bottom: 30px;
  left: 0;
  right: 0;
  z-index: $zindex-sidebar + 1;
  height: $sidebar-heading-height;
  background: fade-out(black, .2);

  h1 {
    padding: .2em;
    color: rgba(255, 255, 255, .57);
    text-align: center;
    font-family: $font-roboto;
    font-size: 1.7em;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .97);
  }
}

@keyframes sidebarSearchIconLoadingSpin {
  100% {
    transform: rotateZ(360deg);
  }
}

