.container-sidebar {
  $width: 350px;
  $gap-from-edge: 10px;

  position: fixed;
  top: $gap-from-edge;
  left: auto;
  right: -$width;
  bottom: $gap-from-edge;
  width: $width;

  background: rgba(68, 68, 68, 0.75);

  transition: .25s ease all;

  &--open {
    transform: translateX(-$width);
  }
}

.sidebar-toggle {
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  text-align: center;
  background: rgba(68, 68, 68, 0.75);
  font-size: 2em;
  color: #fff;
  border-radius: 5px 0 0 5px;
  font-family: monospace;
}

.sidebar-playlist-container {
  margin-top: 20px;
  height: 100%;
  overflow-y: auto;
}

.sidebar-playlist {
  li {
    min-height: 70px;
  }

  img {
    float: left;
    max-width: 90px;
    margin-right: 10px;
    height: auto;
  }

  h5 {
    padding: 0;
    margin: 0;
  }

  .current {
    background: rgb(218, 218, 218);
  }
}
