// when playlist contains no items, this item is shown
.orodarius-sidebar-empty {
  text-align: center;
  padding: 1em 0;
  font-weight: 100;
  color: rgba(255, 255, 255, .6);

  h2 { margin: 1em 0; }
}

.sidebar-suggestions {
  display: flex;
  margin: 0 3em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &__button {
    flex: 1 0 150px;
    padding: .6em .7em;
    margin: .5em;
    font-size: 1.3em;
    font-weight: 300;
    border: 1px solid rgba(255, 165, 0, 0.27);
    border-radius: 3px;
    transition: .2s $transition all;
    background: transparent;

    &:hover {
      background: rgba(255, 165, 0, 0.25);
      border-color: transparent;
      transform: scale(1.15);
      border-radius: 6px;
      box-shadow: 0 15px 10px -5px rgba(0, 0, 0, .4);
      cursor: pointer;
    }

    &:active {
      transform: scale(1);
      box-shadow: none;
    }
  }
}
