// when playlist contains no items, this item is shown
.orodarius-sidebar-empty {
  text-align: center;
  padding: 1em 0;
  font-weight: 100;
  color: rgba(255, 255, 255, .6);

  h2 { margin: 1em 0; }
}

.sidebar-suggestions {
  display: flex;
  margin: 0 3em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &__button {
    flex: 1 0 150px;
    padding: .5em .3em;
    margin: .2em;
    font-size: 1.3em;
    font-weight: bold;
    border: 1px solid rgba(255, 165, 0, 0.27);
    transition: .2s $transition all;
    background: transparent;

    &:hover {
      background: rgba(255, 165, 0, 0.25);
      border: 1px solid rgba(255, 165, 0, 0.57);
      transform: scale(1.1);
      cursor: pointer;
    }

    &:active {
      transform: scale(.9);
    }
  }
}
