// when playlist contains no items, this item is shown
.sidebar-empty {
  text-align: center;
  padding: 1em 0;
  font-weight: 100;
  color: rgba(255, 255, 255, .6);

  h2 {
    padding: 0;
    margin: 1em 0;
    font-weight: 100;
  }

  &__btns {
    display: flex;
    margin: 0 3em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    > div {
      flex: 1 0 100px;
      padding: .3em;
      margin: .2em 0;
      border-bottom: 1px solid rgba(255, 165, 0, 0.47);
      transition: .2s ease all;

      &:hover {
        background: rgba(255, 165, 0, 0.25);
        border-bottom-color: transparent;
        transform: scale(1.1);
        cursor: pointer;
      }

      &:active {
        transform: scale(.9);
      }
    }
  }

  &.loading {
    position: relative;

    &:after {
      position: absolute;
      content: ' ';
      top: 0; right: 0; bottom: 0; left: 0;
      background-image: repeating-linear-gradient(
                          -20deg,
                          rgba(0, 0, 0, 0.2) 0,
                          fade-out(orange, .9) 3%);
      background-position-x: 100%;
      background-size: 300%;
      animation: animateSidebarExpandBtnGradient 10s linear infinite;
    }
  }
}
