.sidebar-playlist {
  overflow-y: auto;

  .list-group-more {
    text-align: center;
    font-size: 1.4em;
    color: #999;
    text-transform: uppercase;
    background: rgba(255, 255, 255, .05);
    min-height: 50px;
    line-height: 50px;
    vertical-align: middle;
    cursor: pointer;
    transition: .2s $transition all;

    &:hover { background-color: rgba(255, 255, 255, .1); }

    &--loading { @extend %loading-modifier; }
  }
}

%loading-modifier {
  background-image: repeating-linear-gradient(
  -20deg,
  rgba(0, 0, 0, 0.2) 0,
  fade-out(orange, .9) 3%);
  background-position-x: 100%;
  background-size: 300%;
  animation: animateSidebarExpandBtnGradient 10s linear infinite;
}

@keyframes animateSidebarExpandBtnGradient {
  to {
    background-position-x: 0;
  }
}

