.settings-panel {
  padding: 20px 20px 80px;
  opacity: 1;
}

.sidebar-settings-panel-list {
  h2 {
    margin-bottom: 40px;
    text-align: center;
    color: #ccc;
  }

  &__item {
    @extend .unselectable;

    padding: 20px;
    cursor: pointer;
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;
    color: #aaa;
    font-size: 15px;
    border-left: 1px solid transparent;
    transition: .2s ease all;

    &:hover,
    &--active {
      box-shadow: 0 0 60px 0 hsla(39,50%,30%,0.18) inset;
    }

    &--active {
      color: orange;
      border-left-color: orange;

      span.glyphicon { color: orange; }
      small.special { opacity: 1; }
    }
  }

  span {
    text-shadow: 0 1px 0 rgba(100, 100, 100, .5);

    small { color: #666; }
  }

  .special { opacity: 0; }

  .glyphicon {
    padding-right: 30px;
    font-size: 20px;
    color: #bbb;
    transition: .2s ease color;
  }
}

