<div
  class="orodarius-sidebar-empty">
  <div ng-if="$ctrl.lastSubreddits.length">
    <h2>Recent</h2>

    <div class="sidebar-empty__btns">
      <button
         class="sidebar-suggestions__button"
         ng-repeat="subreddit in $ctrl.lastSubreddits track by $index"
         ng-click="$ctrl.onSubredditClick({ subreddit: subreddit.name })">
        r/{{::subreddit.name}}
      </button>
    </div>

    <hr>
  </div>

  <h2>Suggestions</h2>

  <div class="sidebar-suggestions">
    <button
      class="sidebar-suggestions__button"
      ng-repeat="subreddit in ::$ctrl.suggestedSubreddits track by $index"
      ng-click="$ctrl.onSubredditClick({ subreddit: subreddit.name })">
      r/{{::subreddit.name}}
    </button>
  </div>
</div>

