<div class="sidebar-head" ng-class="{ 'sidebar-head--loading': $ctrl.isLoading }">
  <h1>Subreddit TV</h1>

  <div class="sidebar-now-playing">
    <span class="sidebar-now-playing-label">Now playing:</span>

    <input
      type="text"
      class="sidebar-now-playing-input"
      ng-enter="$ctrl.onSearchStart({ subreddit: $ctrl.currentSubreddit })"
      ng-enter-options="{blurOnEnter: true}"
      ng-model="$ctrl.currentSubreddit" />

    <button
      class="sidebar-now-playing-btn"
      ng-click="$ctrl.onSearchStart({ subreddit: $ctrl.currentSubreddit })">
      <span
        class="glyphicon glyphicon-search"
        ng-class="{loading: $ctrl.isLoading}">
      </span>
    </button>

    <button
      class="sidebar-now-playing-btn sidebar-settings-panel-toggle"
      ng-class="{ 'sidebar-now-playing-btn--active': $ctrl.currentState === 'settings' }"
      ng-click="$ctrl.onSettingsClick()">
      <span class="glyphicon glyphicon-cog"></span>
    </button>
  </div>

</div>

