<div class="sidebar-heading orodarius-sidebar-head">
  <h1>Subreddit TV</h1>

  <div class="sidebar-heading__checkbox-container">
    <span ng-class="{active: $ctrl.settings.isSidebarSticky}" class="glyphicon glyphicon-lock" ng-click="$ctrl.toggleStickySidebar()"></span>
    <span ng-class="{active: $ctrl.settings.isFocusModeForced}" class="glyphicon glyphicon-magnet" ng-click="$ctrl.toggleFocusForced()"></span>
    <span ng-class="{active: $ctrl.settings.isFlashModeEnabled}" class="glyphicon glyphicon-flash"
      ng-click="$ctrl.toggleFlashMode()"></span>
  </div>

  <div class="sidebar-now-playing">
    <span class="sidebar-now-playing-label">Now playing:</span>

    <input
      type="text"
      class="sidebar-now-playing-input"
      ng-enter="$ctrl.onSearchStart({ subreddit: $ctrl.currentSubreddit })"
      ng-enter-options="{blurOnEnter: true}"
      ng-model="$ctrl.currentSubreddit" />

    <button class="sidebar-now-playing-btn" ng-click="$ctrl.onSearchStart({ subreddit: $ctrl.currentSubreddit })">
      <span class="glyphicon glyphicon-search" ng-class="{loading: $ctrl.isLoading}"></span>
    </button>
  </div>
</div>

