<div class="container-sidebar" ng-class="{'container-sidebar--open': $ctrl.getIsOpen()}">
  <div class="sidebar-toggle" ng-click="$ctrl.toggle()">
    <span class="glyphicon glyphicon-circle-arrow-{{$ctrl.getIsOpen() ? 'right' : 'left'}}"></span>
  </div>

  <orodarius-sidebar-head
    on-search-start="$ctrl.fillPlaylistWith(subreddit)"
    is-loading="$ctrl.isLoading"
    current-subreddit="$ctrl.currentSubreddit"
    ></orodarius-sidebar-head>

  <div
    class="sidebar-playlist-container"
    ng-class="{'sidebar-playlist-container--loading': $ctrl.isLoading}">

    <orodarius-sidebar-list
      list="$ctrl.playlist"
      is-loading="$ctrl.isLoading"
      current-subreddit="$ctrl.currentSubreddit"
      on-item-click="$ctrl.playVideo(item)"
      on-expand-click="$ctrl.expandPlaylist()">
    </orodarius-sidebar-list>

    <orodarius-sidebar-empty
      ng-show="$ctrl.playlist.length === 0"
      on-subreddit-click="$ctrl.fillPlaylistWith(subreddit)"
      >
    </orodarius-sidebar-empty>
  </div>

  <orodarius-sidebar-foot></orodarius-sidebar-foot>
</div>

