<div class="container-sidebar" ng-class="{'container-sidebar--open': sidebarService.isOpen}">
  <div class="sidebar-toggle" ng-click="sidebarService.toggle()">
    <span class="glyphicon glyphicon-circle-arrow-{{sidebarService.isOpen ? 'right' : 'left'}}"></span>
  </div>

  <orodarius-sidebar-head></orodarius-sidebar-head>

  <div
    class="sidebar-playlist-container"
    ng-class="{'sidebar-playlist-container--loading': $ctrl.isLoading}">
    <div
      class="sidebar-playlist"
      ng-scroll-on="playerService.currentVideoItem">
      <video-item ng-repeat="item in $ctrl.playlist track by $index"
                  ng-click="$ctrl.playVideo(item)"
                  video-item="item"
                  current-subreddit="$ctrl.currentSubreddit">
      </video-item>

      <div
        class="list-group-more"
        ng-show="$ctrl.playlist.length > 0"
        ng-class="{'list-group-more--loading': $ctrl.isLoading}"
        ng-click="$ctrl.expandPlaylist()"
      >
        <span class="glyphicon glyphicon-plus"></span>
      </div>
    </div>

    <orodarius-sidebar-empty
      ng-show="$ctrl.playlist.length === 0"
      on-subreddit-click="$ctrl.fillPlaylistWith(subreddit)"
      >
    </orodarius-sidebar-empty>
  </div>

  <orodarius-sidebar-foot></orodarius-sidebar-foot>
</div>

