<div class="sidebar-heading orodarius-sidebar-head">
  <h1>Subreddit TV</h1>

  <div class="sidebar-heading__checkbox-container">
    <span ng-class="{active: sidebarCtrl.settings.isSidebarSticky}" class="glyphicon glyphicon-lock" ng-click="sidebarCtrl.toggleStickySidebar()"></span>
    <span ng-class="{active: sidebarCtrl.settings.isFocusForced}" class="glyphicon glyphicon-magnet" ng-click="sidebarCtrl.toggleFocusForced()"></span>
  </div>
  <div class="sidebar-now-playing">
    <span class="sidebar-now-playing-label">Now playing:</span>
    <input class="sidebar-now-playing-input" type="text" ng-enter="sidebarCtrl.fillPlaylistWith(sidebarCtrl.currentSubreddit)" ng-enter-options="{blurOnEnter: true}" ng-model="sidebarCtrl.currentSubreddit" />
    <button class="sidebar-now-playing-btn" ng-click="sidebarCtrl.fillPlaylistWith(sidebarCtrl.currentSubreddit)">
      <span class="glyphicon glyphicon-search" ng-class="{loading: sidebarCtrl.isLoading}"></span>
    </button>
  </div>
</div>

