<div class="container-sidebar" ng-class="{'container-sidebar--open': sidebarService.isOpen}">
  <div class="sidebar-toggle" ng-click="sidebarService.toggle()">
    <span class="glyphicon glyphicon-circle-arrow-{{sidebarService.isOpen ? 'right' : 'left'}}"></span>
  </div>

  <div class="sidebar-heading">
    <h1>Subreddit TV</h1>

    <div class="sidebar-heading__checkbox-container">
      <label ng-class="{active: isSidebarSticky}">
        <span class="glyphicon glyphicon-lock"></span>
        <input type="checkbox" ng-model="isSidebarSticky"></input>
      </label>
      <span ng-class="{active: isFocusForced}" ng-click="sidebar.forceFocusToggle($event)">
        <span class="glyphicon glyphicon-magnet"></span>
        <input type="checkbox" ng-model="isFocusForced"></input>
      </span>
    </div>
    <div class="sidebar-now-playing">
      <span class="sidebar-now-playing-label">Now playing:</span>
      <input class="sidebar-now-playing-input" placeholder="{{currentSubreddit}}" type="text" ng-enter="sidebar.fillPlaylistWith(currentSubreddit)" ng-enter-options="{blurOnEnter: true}" ng-model="currentSubreddit" />
      <button class="sidebar-now-playing-btn" ng-click="sidebar.fillPlaylistWith(currentSubreddit)">
        <span class="glyphicon glyphicon-search" ng-class="{loading: playlistService.isLoading}"></span>
      </button>
    </div>
  </div>

  <div class="sidebar-playlist-container">
    <div class="sidebar-playlist" ng-scroll-on="playerService.currentVideoItem">
      <div
        class="list-group-item"
        ng-repeat="item in playlistService.playlist track by item.ownId"
        ng-class="{current: item.ownId === playerService.currentVideoItem.ownId, erroneous: item.error}"
        ng-click="sidebar.playVideo(item)"
      >
        <div class="list-group-item__index">{{$index + 1}}</div>
        <div class="list-group-item__score">{{item.redditScore}}</div>
        <div class="list-group-item__thumbnail" ng-class="{nsfw: item.thumbnailUrl === 'images/nsfw-thumbnail.jpg'}" style="background-image: url({{item.thumbnailUrl}});"></div>
        <div class="list-group-item__title">{{item.title}}</div>
        <div class="list-group-item__footer">
          <span class="list-group-item__footer-error" ng-show="item.error.message">Unable to play: <strong>{{item.error.message}}</strong></span>
          <span ng-show="playlistService.currentSubreddit.indexOf('+') > 0" class="list-group-item__footer-subreddit">r/{{item.subreddit}}</span>
        </div>
      </div>
      <div
        class="list-group-more"
        ng-show="playlistService.playlist.length > 0"
        ng-class="{'list-group-more__loading': playlistService.isLoading}"
        ng-click="sidebar.expandPlaylist()"
      >
        <span class="glyphicon glyphicon-plus"></span>
      </div>
      <div class="sidebar-empty" ng-class="{loading: playlistService.isLoading}" ng-show="playlistService.playlist.length === 0">
        <h2>What would you like to watch?</h2>
        <div class="sidebar-empty__btns">
          <div ng-repeat="subreddit in sidebar.suggestedSubreddits" ng-click="sidebar.fillPlaylistWith(subreddit.name)">
            r/{{subreddit.name}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar-footer">
    <div class="row">
      <div class="col-xs-6">
        <a href="http://github.com/argshook/orodarius">github</a>
      </div>
      <div class="col-xs-6 text-right">
        last updated <a href="{{sidebar.lastUpdatedData.url}}" title="{{sidebar.lastUpdatedData.message}}" target="_blank">{{sidebar.lastUpdatedData.date | date: 'medium'}}</a>
      </div>
    </div>
  </div>
</div>
