<div class="sidebar-heading orodarius-sidebar-head">
  <h1>Subreddit TV</h1>

  <div class="sidebar-heading__checkbox-container">
    <span ng-class="{active: orodariusSidebarHead.settings.isSidebarSticky}" class="glyphicon glyphicon-lock" ng-click="orodariusSidebarHead.toggleStickySidebar()"></span>
    <span ng-class="{active: orodariusSidebarHead.settings.isFocusForced}" class="glyphicon glyphicon-magnet" ng-click="orodariusSidebarHead.toggleFocusForced()"></span>
  </div>
  <div class="sidebar-now-playing">
    <span class="sidebar-now-playing-label">Now playing:</span>
    <input class="sidebar-now-playing-input" type="text" ng-enter="orodariusSidebarHead.fillPlaylistWith(orodariusSidebarHead.currentSubreddit)" ng-enter-options="{blurOnEnter: true}" ng-model="orodariusSidebarHead.currentSubreddit" />
    <button class="sidebar-now-playing-btn" ng-click="orodariusSidebarHead.fillPlaylistWith(orodariusSidebarHead.currentSubreddit)">
      <span class="glyphicon glyphicon-search" ng-class="{loading: orodariusSidebarHead.isLoading}"></span>
    </button>
  </div>
</div>

