<div
  class="video-item"
  ng-class="{current: $ctrl.item.ownId === $ctrl.playerService.currentVideoItem.ownId, erroneous: $ctrl.item.error}"
>
  <div class="video-item__index">{{$ctrl.index}}</div>
  <div class="video-item__score">{{::$ctrl.item.redditScore}}</div>

  <div
    class="video-item__thumbnail"
    ng-class="::{nsfw: $ctrl.item.thumbnailUrl === 'images/nsfw-thumbnail.jpg'}"
    style="background-image: url({{::$ctrl.item.thumbnailUrl}});">
  </div>

  <div class="video-item__title">{{::$ctrl.item.title}}</div>

  <div class="video-item__footer">
    <span
      class="video-item__footer-error"
      ng-show="$ctrl.item.error.message">
      Unable to play: <strong>{{$ctrl.item.error.message}}</strong>
    </span>

    <span
      ng-show="$ctrl.currentSubreddit.indexOf('+') > 0"
      class="video-item__footer-subreddit">
      r/{{$ctrl.item.subreddit}}
    </span>
  </div>
</div>

