<div
  class="list-group-item"
  ng-class="{current: $ctrl.item.ownId === $ctrl.playerService.currentVideoItem.ownId, erroneous: $ctrl.item.error}"
>
  <div class="list-group-item__index">{{::$index + 1}}</div>
  <div class="list-group-item__score">{{::$ctrl.item.redditScore}}</div>
  <div class="list-group-item__thumbnail" ng-class="::{nsfw: $ctrl.item.thumbnailUrl === 'images/nsfw-thumbnail.jpg'}"
    style="background-image: url({{::$ctrl.item.thumbnailUrl}});"></div>
  <div class="list-group-item__title">{{::$ctrl.item.title}}</div>
  <div class="list-group-item__footer">
    <span class="list-group-item__footer-error" ng-show="$ctrl.item.error.message">Unable to play: <strong>{{$ctrl.item.error.message}}</strong></span>
    <span ng-show="$ctrl.currentSubreddit.indexOf('+') > 0" class="list-group-item__footer-subreddit">r/{{$ctrl.item.subreddit}}</span>
  </div>
</div>

